---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import YouTube from "../../components/youtube.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "Scroll-Driven Animations";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />

  <div class="support">
    <baseline-status featureId="scroll-driven-animations"></baseline-status>
  </div>

  <p>Scroll-driven animations are a common UX pattern on the web. A scroll-driven animation is linked to the scroll position of a scroll container. This means that as you scroll up or down, the linked animation scrubs forward or backward in direct response.</p>

  <figure>
    TODO: Embed an SDA demo
    <figcaption>TODO: Write description for SDA demo</figcaption>
  </figure>

  <p>To support the launch of scroll-driven animations in Chrome 115, Chrome DevRel created <a href="https://goo.gle/learn-scroll-driven-animations">a 10-part video course named “Unleash the Power of Scroll-Driven Animations”</a> that teaches you all there is to know about scroll-driven animations with CSS or JavaScript.</p>

  <figure>
    <YouTube id="5noL_qFobm0" />
    <figcaption>The first episode of <a href="https://goo.gle/learn-scroll-driven-animations">“Unleash the Power of Scroll-Driven Animations”</a></figcaption>
  </figure>

  <p>Watch this series and become a scroll-driven animations expert.</p>
  <Author name="bramus" />
  <footer>
    <p>Resources:</p>
    <ul>
      <li><a href="https://scroll-driven-animations.style/">scroll-driven-animations.style &mdash; Your one-stop shop for all your scroll-driven animations needs</a></li>
      <li><a href="https://goo.gle/learn-scroll-driven-animations">Watch “Unleash the Power of Scroll-Driven Animations” on YouTube</a></li>
      <li><a href="https://css-tricks.com/unleash-the-power-of-scroll-driven-animations/">“Unleash the Power of Scroll-Driven Animations” course notes by Geoff Graham</a></li>
      <li><a href="https://goo.gle/scroll-driven-animations">“Animate elements on scroll with Scroll-driven animations” documentation on developer.chrome.com</a></li>
    </ul>
  </footer>
</FeatureLayout>
