---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";

export const title = "Custom Scrollbars";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />

  <div class="support">
    <baseline-status featureId="scrollbar-color"></baseline-status>
    <baseline-status featureId="scrollbar-width"></baseline-status>
  </div>

  <p>
    Styling scrollbars has long been possible with the <code
      >::-webkit-scrollbar-*</code
    > pseudo-elements. This approach works fine in Chrome and Safari, but was never
    standardized by the CSS Working Group.
  </p>

  <p>
    Available from Chrome 121 are the <code>scrollbar-width</code> and <code
      >scrollbar-color</code
    > properties to style the width and, respectively, the color of the scrollbar.
  </p>

  <Code
    lang="css"
    theme="css-variables"
    code={`.scroller {
  scrollbar-color: hotpink blue;
  scrollbar-width: 10%;
}`}
  />

  <p>
    These properties are also supported by Firefox and have partial support in
    Safari.
  </p>

  <figure>
    <CodePen id="web-dot-dev/QwLbJVg" height={500} />
    <figcaption>
      Custom Scrollbars demo. Use the color inputs to change the colors.
    </figcaption>
  </figure>

  <div class="resources">
    <p>
      <Icon name="book" title="Book Icon" />
      Resources:
    </p>
    <ul>
      <li>
        <a href="https://developer.mozilla.org/docs/Web/CSS/scrollbar-color"
          ><code>scrollbar-color</code> on MDN</a
        >
      </li>
      <li>
        <a href="https://developer.mozilla.org/docs/Web/CSS/scrollbar-width"
          ><code>scrollbar-width</code> on MDN</a
        >
      </li>
      <li>
        <a href="https://www.bram.us/2021/07/09/custom-scrollbars-in-css/">Custom Scrollbars on bram.us</a>
      </li>
    </ul>
  </div>

  <Author name="bramus" />

  <footer>
    <a href="https://codepen.io/collection/ExkRWw">Try demo</a>
    <div class="articles">
      <a href="https://developer.chrome.com/docs/css-ui/scrollbar-styling"
        >developer.chrome.com</a
      >
    </div>
  </footer>
</FeatureLayout>
