---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";

export const title = "Scroll Snap Events";
const slug = slugify(title);
---

<FeatureLayout>
  <header>
    <Title slug={slug} title={title} />
    <Author name="adam" />
    <div class="support">
      <baseline-status featureId="scroll-snap-events"></baseline-status>
    </div>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quas fugiat
    nemo officiis tempora inventore expedita, consequuntur iste illum animi. Eos
    culpa corporis ipsum tempora, saepe molestiae. Quasi, quisquam repudiandae!
  </p>
  <Code
    lang="js"
    theme="css-variables"
    code={`scroller.addEventListener('scrollsnapchange', event => {
  console.log(event.snapTargetBlock);
  console.log(event.snapTargetInline);
})`}
  />
  <Video src="/video/snap-change.mp4" />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quas fugiat
    nemo officiis tempora inventore expedita, consequuntur iste illum animi. Eos
    culpa corporis ipsum tempora, saepe molestiae. Quasi, quisquam repudiandae!
  </p>
  <Code
    lang="js"
    theme="css-variables"
    code={`scroller.addEventListener('scrollsnapchanging', event => {
  console.log(event.snapTargetBlock);
  console.log(event.snapTargetInline);
})`}
  />
  <Video src="/video/snap-changing.mp4" />
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut tenetur
    cupiditate libero molestiae ad dicta rerum expedita dignissimos quis totam
    labore, facere, eligendi laudantium fuga doloribus enim ipsum quia commodi!
  </p>
  <CodePen id="web-dot-dev/LYKOOpd" height={300} />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam, sed
    officia tenetur expedita, quidem nisi itaque.
  </p>
  <footer>
    <a href="https://codepen.io/web-dot-dev/pen/jOjaaEP">Try demo</a>
    <div class="articles">
      <a href="https://developer.chrome.com/blog/scroll-snap-event"
        >Article on developer.chrome.com</a
      >
      <a href="https://developer.mozilla.org/docs/Web/API/SnapEvent">MDN</a>
    </div>
  </footer>
</FeatureLayout>
