---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "The Popover API";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />
  <div class="support">
    <baseline-status featureId="popover"></baseline-status>
  </div>

  <p>
    The Popover API provides ways to build layered interfaces like tooltips,
    menus, teaching UIs, and more.
  </p>

  <p>
    To create a popover with default values, all you need is a <code
      >button</code
    > to trigger the popover, and an element that is the popover.
  </p>

  <Code
    lang="html"
    theme="css-variables"
    code={`<button popovertarget="my-popover">Open Popover</button>

<div id="my-popover" popover>
  <p><p>I am a popover with more information. Hit <kbd>esc</kbd> or click away to close me.<p></p>
</div>`}
  />

  <figure>
    <CodePen id="web-dot-dev/ExJrbjw" height={500} />
    <figcaption>Simple popover demo</figcaption>
  </figure>

  <p>
    Popovers come with built-in support for top layer promotion, light-dismiss
    functionality, default focus management, and accessibility features.
  </p>

  <Author name="bramus" />

  <footer>
    <a href="https://codepen.io/web-dot-dev/pen/ExJrbjw">Try demo</a>
    <div class="articles">
      <a href="https://web.dev/blog/popover-api">web.dev</a>
      <a href="https://developer.mozilla.org/docs/Web/API/Popover_API">MDN</a>
    </div>
  </footer>
</FeatureLayout>
