---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "ruby-align";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title="Line-breakable <ruby> + CSS ruby-align" shorttitle={title} />

  <div class="support">
    <baseline-status featureId="ruby-align"></baseline-status>
  </div>

  <p>
    From Chrome 128, ruby annotations are line-breakable and you can style ruby
    text with the <code>ruby-align</code> CSS property. This gives you finer control
    on how phonetic annotations or other supplemental information above or beside
    base text with <code>&lt;ruby&gt;</code> should be presented.
  </p>

  <p>
    With line-breakable ruby, wrapped ruby annotation text gets placed over
    wrapped base text, achieving ideal text rendering. Compare this before and
    after:
  </p>

  <figure>
    <img
      src="./images/ruby_before.png"
      width="1860"
      height="492"
      loading="lazy"
      alt="Rendering result before Chrome 128 with long ruby annotation text."
    />
    <figcaption>
      Rendering result before Chrome 128 with long ruby annotation text.
    </figcaption>
  </figure>

  <figure>
    <img
      src="./images/ruby_after.png"
      width="455"
      height="1722"
      loading="lazy"
      alt="Rendering result from Chrome 128 with long ruby annotation text."
    />
    <figcaption>
      Rendering result as of Chrome 128 with long ruby annotation text.
    </figcaption>
  </figure>

  <p>
    The new CSS property <code>ruby-align</code> controls the alignment of ruby base
    text and ruby annotation text. The property accepts one of the keyword values
    <code>space-around</code>, <code>space-between</code>, <code>start</code>,
    and <code>center</code>.
  </p>

  <figure>
    <img
      src="./images/ruby-align.png"
      width="2454"
      height="651"
      loading="lazy"
      alt="Image showing use-case for ruby-align property."
    />
    <figcaption>Image showing use-case for ruby-align property.</figcaption>
  </figure>

  <Author name="bramus" />

  <footer style="place-content: end;">
    <div class="articles">
      <a href="https://developer.chrome.com/blog/line-breakable-ruby"
        >developer.chrome.com</a
      >
      <a href="https://developer.mozilla.org/docs/Web/CSS/ruby-align">MDN</a>
    </div>
  </footer>
</FeatureLayout>

<style>
  figure img {
    width: 100%;
    height: auto;
  }
</style>