---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "@starting-style";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title="Entry effects with @starting-style" shorttitle={title} />
  <div class="support">
    <baseline-status featureId="starting-style"></baseline-status>
  </div>

  <p>
    The <code>@starting-style</code> at-rule is used to define styles for an element
    before it has received the first style update. When setting those targeted properties
    to transition with CSS transitions, you can use these starting-styles to create
    entry effects.
  </p>

  <p>
    In the following example, newly added <code>&lt;div&gt;</code> elements fade
    from <code>yellow</code> to their initial background-color which is transparent.
  </p>

  <Code
    lang="css"
    theme="css-variables"
    code={`div {
  transition: background-color 0.5s;
  background-color: transparent;

  @starting-style {
    background-color: yellow;
  }
}`}
  />

  <figure>
    <CodePen id="bramus/MWPLgjy" height={500} />{
      /* TODO: Move to web-dot-dev account + clean up */
    }
    <figcaption><code>@starting-style</code> demo</figcaption>
  </figure>

  <p>Another use case is to animate-in dialogs when opened.</p>

  <Code
    lang="css"
    theme="css-variables"
    code={`dialog[open] {
  opacity: 1;
  transform: scaleX(1);

  @starting-style {
    opacity: 0;
    transform: scaleX(0);
  }
}`}
  />

  <figure>
    <CodePen id="web-dot-dev/dyQxmzg" height={500} />
    <figcaption><code>@starting-style</code> demo</figcaption>
  </figure>

  <p>
    Don’t forget to set <code>transition-behavior</code> to <code
      >allow-discrete</code
    > when animating discretely animatable properties such as <code
      >display</code
    >.
  </p>

  <div class="resources">
    <p>
      <Icon name="book" title="Book Icon" />
      Resources:
    </p>
    <ul>
      <li>
        <a
          href="https://nerdy.dev/using-starting-style-and-transition-behavior-for-enter-and-exit-stage-effects"
          >Using <code>@starting-style</code> and <code
            >transition-behavior</code
          > for enter and exit stage effects</a
        >
      </li>
    </ul>
  </div>

  <Author name="bramus" />

  <footer>
    <a href="https://codepen.io/web-dot-dev/pen/dyQxmzg">Try demo</a>
    <div class="articles">
      <a href="https://developer.chrome.com/blog/entry-exit-animations"
        >developer.chrome.com</a
      >
      <a href="https://developer.mozilla.org/docs/Web/CSS/@starting-style"
        >MDN</a
      >
    </div>
  </footer>
</FeatureLayout>
