---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "Anchor Positioning";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />
  <div class="support">
    <baseline-status featureId="anchor-positioning"></baseline-status>
  </div>
  <p>
    A fresh and declarative way to position elements relative to each other. 
    It's perfect for menus and submenus, tooltips, selects,
    labels, cards, settings dialogs, and many more. With anchor positioning
    built into the browser, you can build layered user interfaces without
    relying on third-party libraries, opening a world of creative possibilities.
  </p>
  <div class="video-placeholder">
    <Icon name="play" />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quas fugiat
    nemo officiis tempora inventore expedita, consequuntur iste illum animi. Eos
    culpa corporis ipsum tempora, saepe molestiae. Quasi, quisquam repudiandae!
  </p>
  <iframe
    height="300"
    style="width: 100%;"
    title="CSS Logo?"
    src="https://codepen.io/argyleink/embed/preview/JjQEBBW?default-tab=result&editable=true&theme-id=43079"
    loading="lazy"
    allowfullscreen></iframe>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam, sed
    officia tenetur expedita, quidem nisi itaque.
  </p>
  <Author name="adam" />
  <footer>
    <a href="https://codepen.io/collection/ExkRWw">Try demo</a>
    <div class="articles">
      <a href="https://developer.chrome.com/blog/anchor-positioning-api"
        >developer.chrome.com</a
      >
      <a href="https://developer.mozilla.org/docs/Web/CSS/anchor">MDN</a>
    </div>
  </footer>
</FeatureLayout>
