---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "Animate to height: auto";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />
  <div class="support">
    <baseline-status featureId="interpolate-size"></baseline-status>
  </div>

  <p>
    An often requested CSS feature is the ability to animate to <code
      >height: auto</code
    >. A slight variation of that request is to transition the width property
    instead of the height, or to transition to any of the other intrinsic sizes
    represented by keywords like <code>min-content</code>, <code
      >max-content</code
    >, and <code>fit-content</code>.
  </p>

  <p>
    From Chrome 129 you can use the <code>interpolate-size</code> property or the
    <code>calc-size()</code> function to enable smooth transitions and animations
    from lengths to intrinsic sizing keywords and back.
  </p>

  <figure>
    <CodePen id="web-dot-dev/GRbbNra" />
    <figcaption>
      CSS <code>interpolate-size</code> demo. If your browser has no support, you
      can <a
        href="./video/animate-to-auto.mp4"
        >check the recording</a
      >.
    </figcaption>
  </figure>

  <p>
    The easiest way to enable this behavior is have the entire page opt-in to it
    by declaring <code style="white-space: break-spaces;"
      >interpolate-size: allow-keywords</code
    > on <code>:root</code>.
  </p>

  <Code
    lang="css"
    theme="css-variables"
    code={`/* Opt-in the whole page to animating to/from intrinsic sizing keywords */
:root {
    interpolate-size: allow-keywords; /* 👈 */
}`}
  />
  <p>
    In most cases using <code>interpolate-size</code> should be sufficient. If you
    need more control over things–such as doing calculations with the resulting pixel
    value, or transitioning between the same two intrinsic sizing keywords use <a
      href="https://developer.chrome.com/docs/css-ui/animate-to-height-auto#animate_to_and_from_intrinsic_sizing_keywords_with_calc-size"
      ><code>calc-size()</code></a
    > instead.
  </p>

  <Author name="bramus" />

  <footer>
    <a href="https://codepen.io/web-dot-dev/pen/GRbbNra">Try demo</a>
    <div class="articles">
      <a href="https://developer.chrome.com/docs/css-ui/animate-to-height-auto"
        >developer.chrome.com</a
      >
      <a
        href="https://developer.mozilla.org/docs/Web/CSS/interpolate-size"
        >MDN</a
      >
    </div>
  </footer>
</FeatureLayout>
