---
import FeatureLayout from "./../_layout.astro";
import Title from "../../components/feature.title.astro";
import Author from "../../components/author.astro";
import Video from "../../components/video.astro";
import CodePen from "../../components/codepen.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";

import slugify from "./../../util/slugify";
export const title = "Exclusive <details>";
const slug = slugify(title);
---

<FeatureLayout slug={slug}>
  <Title slug={slug} title={title} />
  <div class="support">
    <baseline-status featureId="details-name"></baseline-status>
  </div>
  
  <p>A common UI pattern on the web is an accordion component. This component consists of several disclosure widgets that individually can be expanded (or collapsed) to reveal (or hide) their content.</p>

  <p>This pattern can be created on the web with a few <code>&lt;details&gt;</code> elements. These are typically grouped visually to indicate that they belong together.</p>

  <p>To make an exclusive accordion, add a name attribute to the <code>&lt;details&gt;</code> elements. When this attribute is used, multiple <code>&lt;details&gt;</code> elements that have the same name value form a semantic group. When you open one of the <code>&lt;details&gt;</code> elements from the group, the previously opened one will automatically close.</p>

  <Code
    lang="html"
    theme="css-variables"
    code={`<details name="learn-css">
  <summary>Welcome to Learn CSS!</summary>
  <p>…</p>
</details>
<details name="learn-css">
  <summary>Box Model</summary>
  <p>…</p>
</details>
<details name="learn-css">
  <summary>Selectors</summary>
  <p>…</p>
</details>
`}
  />

  <figure>
    <CodePen id="web-dot-dev/BaMbKyM" height={800} />
    <figcaption>Exclusive Accordion demo</figcaption>
  </figure>
 
  <Author name="bramus" />

  <footer>
    <p>Resources:</p>
    <ul>
      <li><a href="https://developer.chrome.com/docs/css-ui/exclusive-accordion">“Exclusive Accordion” article on developer.chrome.com</a></li>
      <li><a href="https://codepen.io/web-dot-dev/pen/BaMbKyM">Demo</a></li>
    </ul>
  </footer>
</FeatureLayout>
