---
import FeatureLayout from "./../_layout.astro";
import { Icon } from "astro-icon/components";
import slugify from "./../../util/slugify";
export const title = "Exclusive &lt;details&gt;";
const slug = slugify(title);
---

<FeatureLayout>
  <header>
    <h3 id={slug} set:html={title}></h3>
    <div class="support">
      <baseline-status featureId="details-name"></baseline-status>
    </div>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quas fugiat
    nemo officiis tempora inventore expedita, consequuntur iste illum animi. Eos
    culpa corporis ipsum tempora, saepe molestiae. Quasi, quisquam repudiandae!
  </p>
  <div class="video-placeholder">
    <Icon name="play" />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quas fugiat
    nemo officiis tempora inventore expedita, consequuntur iste illum animi. Eos
    culpa corporis ipsum tempora, saepe molestiae. Quasi, quisquam repudiandae!
  </p>
  <iframe
    height="300"
    style="width: 100%;"
    title="CSS Logo?"
    src="https://codepen.io/argyleink/embed/preview/JjQEBBW?default-tab=result&editable=true&theme-id=43079"
    loading="lazy"
    allowtransparency="true"
    allowfullscreen="true"></iframe>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam, sed
    officia tenetur expedita, quidem nisi itaque.
  </p>
  <footer>
    <a href="#">Try demo</a>
    <div class="articles">
      <a href="#">Article on web.dev</a>
      <a href="#">MDN</a>
    </div>
  </footer>
</FeatureLayout>
