/**
 * Copyright 2024 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@import "open-props/style"; /* todo: import only what's needed */
@import "open-props/normalize";
@import "open-props/switch/light";
@import "open-props/switch/dark";

@font-face {
	font-family: 'Jersey10';
	src: url(/Jersey10-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@view-transition {
  navigation: auto;
}

:root {
	--surface-document: light-dark(white, var(--surface-1));
}

html {
  background-color: var(--surface-document);
}

pre {
	padding-block: var(--size-3);
	padding-inline: var(--size-4);
	border-radius: var(--radius-3);
}

.astro-code {
	--astro-code-color-text: var(--text-1);
	--astro-code-color-background: var(--surface-2);
}

[data-theme="light"] .astro-code {
	--astro-code-token-function: var(--purple-8);
	--astro-code-token-constant: var(--blue-9);
	--astro-code-token-keyword: var(--pink-6);
}

[data-theme="dark"] .astro-code {
	--astro-code-token-function: var(--green-3);
	--astro-code-token-constant: var(--cyan-2);
	--astro-code-token-keyword: var(--pink-4);
}