.grid-pile {
  display: grid;

  > * {
    grid-area: 1/1;
  }
}

.fullheight {
  min-block-size: 100svb;
  display: grid;
  place-content: center;
  place-content: safe center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}