---
import "../styles/global.css";

import HeaderPrimary from "../components/header.primary.astro";
import Hero from "../components/hero.astro";
import FeatureFillstrip from "../components/feature.fillstrip.astro";
import SectionDeveloperExperience from "../components/section.developerexperience.astro";
import SectionComponents from "../components/section.components.astro";
import SectionInteractions from "../components/section.interactions.astro";
import Footer from "../components/footer.astro";
import MainAside from "../components/main.aside.astro";
---

<!--
 Copyright 2024 Google LLC
 SPDX-License-Identifier: Apache-2.0
--><!-- remove the VT until the clientside theme switch is loaded so we dont flash a VT -->
<html lang="en" style="view-transition-name: none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>CSS Wrapped 2024</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/baseline-status@1.0.4/baseline-status.min.js"
    ></script>
  </head>
  <body>
    <HeaderPrimary />
    <Hero />
    <FeatureFillstrip />

    <main>
      <MainAside />

      <div class="biomes">
        <div class="biome desert">
          <SectionComponents />
        </div>
        <div class="biome arctic">
          <SectionInteractions />
        </div>
        <div class="biome jungle">
          <SectionDeveloperExperience />
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    display: grid;
    gap: var(--size-4);
    grid-template-areas: ". main-features main-sidenav .";
    grid-template-columns:
      [fullbleed-start]
      auto
      fit-content(720px)
      minmax(0, 30ch)
      auto
      [fullbleed-end];

    @media (width <= 960px) {
      grid-template-areas: ". main-features .";
      grid-template-columns:
        [fullbleed-start]
        auto
        fit-content(720px)
        auto
        [fullbleed-end];
    }
  }

  .biomes {
    grid-column: fullbleed;
    grid-row: 1;

    display: grid;
    row-gap: 10vh;
    grid-template-columns: subgrid;
  }

  .biome {
    grid-column: fullbleed;

    display: grid;
    grid-template-columns: subgrid;

    padding-block-end: var(--size-8);

    background-attachment: fixed;
    background-size: auto 100dvh;
    background-position: top center;
    background-image: 
      var(--_biome-image),
      linear-gradient(to bottom, #c0d6fc, 28%, #ffe5bb 0);

    &.desert {
      --_biome-image: url(/biomes/desert.svg);
    }

    &.arctic {
      --_biome-image: url(/biomes/arctic.svg);
    }

    &.jungle {
      --_biome-image: url(/biomes/jungle.svg);
    }
  }
</style>
