---
import '../styles/global.css';

import HeaderPrimary from '../components/header.primary.astro';
import Hero from '../components/hero.astro';
import FeatureFillstrip from '../components/feature.fillstrip.astro';
import SectionQualityoflife from '../components/section.qualityoflife.astro';
import SectionComponents from '../components/section.components.astro';
import SectionInteractions from '../components/section.interactions.astro';
import Footer from '../components/footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>CSS Wrapped 2024</title>
		<script type="module" src="https://cdn.jsdelivr.net/npm/baseline-status@1.0.4/baseline-status.min.js"></script>
	</head>
	<body>
		<HeaderPrimary />
		<Hero />
		<FeatureFillstrip />

		<main>
			<SectionQualityoflife />
			<SectionComponents />
			<SectionInteractions />
		</main>

		<Footer />
	</body>
</html>

<style>
	main {
    display: grid;
    gap: var(--size-14);
    padding-inline: var(--size-5);
  }
</style>