---
interface Props {
  name: string;
}

import authors from './../data/authors.json';

const { name } = Astro.props;
const author = authors[name];
---

<address class="author">
  <img
    width="40"
    height="40"
    loading="lazy"
    src={author.image}
    alt="Profile picture"
  />
  <a rel="author" href={author.url}>{author.name}</a>
</address>

<style>
  .author {
    display: flex;
    gap: var(--size-2);
    place-items: center;

    > img {
      border-radius: var(--radius-round);
    }

    > a {
      font-style: normal;
    }
  }
</style>
