---

---
<div id="cookie-consent"></div>

<style is:global>
    #cookie-consent:not(:empty) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: light-dark(white, var(--surface-2));
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        gap: var(--size-4);
        padding: var(--size-4);
        border-top: 1px solid var(--surface-1);
        z-index: 1;
        transition: translate 0.25s ease;

        @starting-style {
            translate: 0 100%;
        }

        @media (width < 600px) {
            grid-auto-flow: row;
        }
    }

    #cookie-consent[hidden] {
        translate: 0 100%;
    }

    #cookie-consent button {
        white-space: nowrap;
        background: var(--surface-4);
        color: light-dark(black, black);
        padding-block: var(--size-2);
        padding-inline: var(--size-4);
        border-radius: var(--radius-2);
        box-shadow: var(--shadow-2);
        font-weight: bold;

        transition:
            box-shadow 0.7s var(--ease-spring-3),
            outline-offset 145ms var(--ease-2);

        &:hover {
            box-shadow: 0 0 0 5px color-mix(in oklab, var(--surface-4) 20%, transparent);
        }
    }
</style>
<script>
  const storageKey = 'css-wrapped-cookie-consent';

  function setupCookieConsent(element) {
    element.innerHTML = `<p>Chrome.dev uses cookies from Google to deliver and enhance the quality of its services and to analyze traffic. <a href="https://policies.google.com/technologies/cookies">Learn more.</a></p>`;

    const button = document.createElement('button');
    button.innerHTML = 'I understand'
    const gotIt = () => {
      element.setAttribute('hidden', 'hidden');
      localStorage.setItem(storageKey, 'clicked');
    };
    button.addEventListener('click', gotIt);
    element.appendChild(button);
  }

  if (localStorage.getItem(storageKey) !== 'clicked') {
    setupCookieConsent(document.querySelector('#cookie-consent'));
  }
</script>