---
interface Props {
  slug: string;
  title: string;
  shorttitle?: string;
}

const { slug, title, shorttitle } = Astro.props;

---

<h3><a href={`#${slug}`}>#</a> <span set:text={title}></span>{shorttitle && <span class="shorttitle" set:text={shorttitle}></span>}</h3>

<style>
  h3 {
    margin-left: -0.3em;
    gap: 0.1rem;
    display: flex;
    align-items: center;

    .shorttitle {
      display: none;
    }

    &:has(span.shorttitle) {
      @media screen and (width <= 720px) {
        span:not(span.shorttitle) {
          display: none;
        }
        span.shorttitle {
          display: block;
        }
      }
    }
  }
  a {
    text-decoration: none;
    font-size: 0.65em;
    visibility: hidden;

    h3:hover & {
      visibility: visible;
    }
  }
</style>