---
---

<footer id="outro">
  <h3>It's a good time to be a front-end dev.</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> 
</footer>

<style>
  footer {
    block-size: 75vh;
    display: grid;
    place-content: center;
    text-align: center;
  }
</style>