---
import Authors from "./authors.astro";
---

<footer id="outro" class="fullheight">
  <h3>It's a good time to be a</h3>
  <h3 class="retro-title">front-end dev</h3>
  <p>
    Made with ❤️ by The Chrome DevRel Team
  </p>
  <Authors />
  <p>
    <em>Source available <a href="https://github.com/googlechromelabs/css-wrapped-2025">on GitHub</a></em>
  </p>
  <img
    height="2560"
    width="514"
    src="biomes/cyberspace-header.png"
    alt="a cityscape of retro computers"
    loading="lazy"
  />
</footer>

<style>
  @keyframes slid-in-cityscape {
    from {
      transform: translateY(100%);
    }
  }

  @layer components.footer {
    footer {
      display: grid;
      place-content: center;
      place-items: center;
      text-align: center;
      padding-inline: var(--size-3);
      overflow: clip;
      position: relative;
      padding-block-end: 100px;
      padding-inline: 40px;

      @media (orientation: landscape) {
        min-block-size: 1100px !important;
      }

      background-image: url(/biomes/cyberspace-sidebar.png),
        url(/biomes/cyberspace-sidebar.png);
      background-position:
        -150px 50%,
        calc(100% + 150px) 50%;
      background-size: 300px auto;

      @media (width <= 720px) {
        background-position:
          -265px 70%,
          calc(100% + 265px) 70%;
        padding-block-end: 25svh;
      }

      > h3.retro-title {
        font-size: clamp(4.5rem, 11vw, 14rem);
      }

      > p {
        margin-block: var(--size-7);
      }

      > img {
        position: absolute;
        bottom: 0;
        min-width: 62.5rem;
        width: 100%;
        max-width: 1250px;
      }

      @media (prefers-reduced-motion: no-preference) {
        > img {
          animation: slid-in-cityscape linear both;
          animation-timeline: scroll();
          animation-range: calc(100% - 25svb) 100%;
        }
      }
    }
  }
</style>
