---
import { Icon } from "astro-icon/components";
import ThemeSwitch from "./theme.switch.astro";
---

<header id="intro">
  <a href="https://www.google.com/chrome/dr/download/">
    <Icon name="chrome" size="1.5rem" />
  </a>
  <div class="page-controls">
    <ThemeSwitch />
    <button
      class="hamburger"
      popovertarget="mobile-menu"
      title="Mobile Navigation Menu"
    >
      <Icon name="hamburger" size="1.5rem" />
    </button>
  </div>
</header>

<style>
  @layer components.primary-header {
    header {
      display: flex;
      place-items: center;
      justify-content: space-between;
      padding-block: var(--size-3);
      padding-inline: var(--size-5);
      background: var(--surface-document);

      @media (width <= 1200px) {
        position: sticky;
        top: 0;
        z-index: 1;
      }

      > .page-controls {
        display: flex;
        place-items: center;
        gap: var(--size-3);
      }
    }

    .hamburger {
      color: var(--text-2);
      border-radius: var(--radius-round);
      aspect-ratio: var(--ratio-square);

      &:is(:hover, :focus-visible) {
        color: var(--text-1);
      }

      @media (width >= 1200px) {
        display: none;
      }
    }
  }
</style>
