---
import { Icon } from "astro-icon/components";
import NavBento from "./nav.bento.astro";
---

<section class="hero">
  <h1 class="retro-title">CSS Wrapped</h1>
  <div class="grid-pile">
    <div class="particles" id="particles">
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="pixel"></span>
      <span class="plus"></span>
      <span class="plus"></span>
      <span class="plus"></span>
      <span class="plus"></span>
      <span class="plus"></span>
      <span class="plus"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
    </div>
    <div class="video">
      <Icon name="play" />
    </div>
  </div>
  <div>
    <p class="hero-title retro-title">Driving The Web Forward</p>
    <p>2024 CSS in 3 main categories</p>
  </div>
  <NavBento />
</section>

<script>
  const particles = document.getElementById("particles");
  const particlesArray = Array.from(particles.children);

  const random = (min, max) => Math.floor(Math.random() * (max - min) + min);
  const randomNeg = (value) => (Math.random() > 0.5 ? value : -value);

  particlesArray.forEach((particle: HTMLElement) => {
    const { matches: motionOK } = window.matchMedia(
      "(prefers-reduced-motion: no-preference)"
    );

    let randomX = randomNeg(random(85, 52));
    let randomY = randomNeg(random(85, 0));
    let randomDuration = random(1500, 6000);
    let randomRange = random(10, 200);

    particle.style.translate = `clamp(-45vi, ${randomX}cqi, 45vi) ${randomY}cqb`;
    particle.style.rotate = "1turn";
    particle.style.setProperty("--range", `${randomRange}vh`);

    if (motionOK) {
      particle.style.animationDuration = `auto, ${randomDuration}ms`;
      particle.style.animationTimingFunction =
        "var(--ease-3), var(--ease-spring-2)";
    }
  });
</script>

<style>
  @property --range {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
  }

  @keyframes particle-enter {
    from {
      translate: 0cqi 0cqi;
      rotate: 0turn;
    }
  }

  @keyframes particle-scroll {
    to {
      translate: 0cqi 0cqi;
      rotate: 0turn;
    }
  }

  @layer components.hero {
    .hero {
      margin-block: var(--size-10);
      max-inline-size: min(1024px, 75vw);
      margin-inline: auto;
      padding-inline: var(--size-5);
      display: grid;
      gap: var(--size-8);

      > h1 {
        font-size: clamp(5rem, 11vw, 14rem);
        text-align: center;
        max-inline-size: 100%;
      }

      p {
        text-align: center;
        max-inline-size: max-content;
        margin-inline: auto;
      }

      .hero-title {
        margin-block-start: var(--size-12);
        margin-block-end: var(--size-5);
        font-size: clamp(4rem, 7vw, 10rem);
      }
    }

    .video {
      z-index: 1;
      aspect-ratio: 16/9;
      background: var(--surface-3);
      border-radius: var(--radius-3);

      display: grid;
      place-content: center;
      will-change: transform;

      @media (prefers-reduced-motion: no-preference) {
        animation: scale-down 3s var(--ease-2) reverse;
      }

      > svg {
        block-size: 5rem;
        inline-size: 5rem;
      }
    }

    .particles {
      position: relative;
      display: grid;
      place-items: center;
      container-type: size;

      > span {
        position: absolute;
        transform-origin: center;

        @media (prefers-reduced-motion: no-preference) {
          animation:
            particle-scroll linear both,
            particle-enter 1s ease;
          animation-timeline: scroll(), auto;
          animation-range: 0vh var(--range);
        }

        &.pixel {
          width: 1rem;
          height: 1rem;
          opacity: 0.8;
          background: var(--blue-5);

          &:nth-of-type(2n) {
            background: var(--blue-2);
          }
        }

        &.plus {
          --_color: color-mix(in oklab, var(--blue-5), transparent 25%);

          width: 3rem;
          height: 3rem;
          opacity: 0.8;
          background: linear-gradient(
              to right,
              #0000 0 1rem,
              var(--_color) 1rem 2rem,
              #0000 2rem 3rem
            ),
            linear-gradient(
              to bottom,
              #0000 0 1rem,
              var(--_color) 1rem 2rem,
              #0000 2rem 3rem
            );
          background-blend-mode: screen;

          &:nth-of-type(2n) {
            --_color: var(--blue-3);
          }
        }

        &.star {
          width: 5rem;
          height: 5rem;
          opacity: 0.8;
          background: conic-gradient(
              color-mix(in oklab, var(--blue-5), transparent 25%) 0 0
            ),
            linear-gradient(
              to right,
              #0000 0 2rem,
              color-mix(in oklab, var(--blue-6), transparent 25%) 2rem 3rem,
              #0000 3rem 5rem
            ),
            linear-gradient(
              to bottom,
              #0000 0 2rem,
              color-mix(in oklab, var(--blue-4), transparent 25%) 2rem 3rem,
              #0000 3rem 5rem
            );
          background-size:
            3rem 3rem,
            cover,
            cover;
          background-repeat: no-repeat;
          background-position: center;
          background-blend-mode: screen;
        }
      }
    }
  }
</style>
