---
import { Icon } from "astro-icon/components";
import Intro from "./intro.astro";

const { biomes } = Astro.props;
const totalFeatures = biomes.reduce((total, biome) => {
  return (total += biome.features.length);
}, 0);
---

<section class="hero-container">
  <div class="hero">
    <div class="grid-pile">
      <div class="confetti" id="confetti">
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <span class="round"></span>
        <!-- TODO other types of confetti -->
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="curve"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </div>
      <!-- <div class="video">
        {/* if changing the Video, then update the preload of the image in index.astro */}
        <Youtube id="bcpUS7qXuoA" poster="./hero-video-poster.jpg" />
      </div> -->
      <div>
        <img src="../../public/Wrapped_Circle.png" alt="CSS Wrapped 2025">
      </div>
    </div>
    <div>
      <p class="hero-title">
    New tools to <i>craft</i> a dynamic web.
  </p>
    </div>

    <div class="narrative">
      <div class="fullheight">
        <Intro />
      </div>

      <div class="fullheight">
        <p class="hero-title">
          We've been crafting new features with you in mind.
        </p>

        <!-- TODO Replace with new 3x card -->
      </div>
    </div>
  </div>
</section>

<script>
  const confetti = document.getElementById("confetti");
  const confettiArray = Array.from(confetti.children);

  const random = (min, max) => Math.floor(Math.random() * (max - min) + min);
  const randomNeg = (value) => (Math.random() > 0.5 ? value : -value);

  confettiArray.forEach((particle: HTMLElement) => {
    const { matches: motionOK } = window.matchMedia(
      "(prefers-reduced-motion: no-preference)"
    );

    let randomX = randomNeg(random(70, 50));
    let randomY = randomNeg(random(85, 0));
    let randomDuration = random(1500, 6000);
    let randomRange = random(10, 200);

    particle.style.translate = `clamp(-45vi, ${randomX}cqi, 45vi) ${randomY}cqb`;
    particle.style.rotate = "1turn";
    particle.style.setProperty("--range", `${randomRange}vh`);

    if (motionOK) {
      particle.style.animationDuration = `auto, ${randomDuration}ms`;
      particle.style.animationTimingFunction =
        "var(--ease-3), var(--ease-spring-2)";
    }
  });
</script>

<style>
  @property --range {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
  }

  @keyframes particle-enter {
    from {
      translate: 0cqi 0cqi;
      rotate: 0turn;
    }
  }

  @keyframes particle-scroll {
    to {
      translate: 0cqi 0cqi;
      rotate: 0turn;
    }
  }

  @keyframes journeyed {
    from {
      transform: translateX(-10vw) scaleX(calc(var(--scroll-direction, 1)));
    }
    to {
      transform: translateX(100vw) scaleX(calc(var(--scroll-direction, 1)));
    }
  }

  @keyframes h1-leave {
    to {
      transform: translateY(200%) rotateZ(-0.15turn) scale(0);
    }
  }

  @keyframes narrative-enter {
    from {
      opacity: 0;
    }
  }

  @layer components.hero {
    section {
      max-inline-size: 100%;
      overflow-x: clip;
      position: relative;
      z-index: 0;
    }

    .hero-container {
      background: radial-gradient(max(30vw, 300px) circle at min(5vw, 125px) min(30vw, 300px) in oklab, color(display-p3 0.47 0 1 / 0.25), transparent), radial-gradient(max(40vw, 300px) circle at 90vw 50vh in oklab, color(display-p3 1 0.77 0 / 0.25), transparent), radial-gradient(max(30vw, 300px) circle at 30vw 45vh in oklab, color(display-p3 0 1 0.98 / 0.25), transparent);
      margin-top: calc(var(--size-9) * -1);
    }

    .hero {
      max-inline-size: 90vw;
      margin-inline: auto;
      padding: var(--size-3);
      display: grid;
      gap: var(--size-5);

      @media (width >= 720px) {
        max-inline-size: min(1024px, 75vw);
        padding: var(--size-9) var(--size-5);
        gap: var(--size-8);
      }

      > h1 {
        font-size: clamp(5rem, 11vw, 14rem);
        text-align: center;
        max-inline-size: 100%;

        @supports (animation-timeline: view()) {
          @media (prefers-reduced-motion: no-preference) {
            animation: h1-leave linear both;
            animation-timeline: scroll();
            animation-range: 0vh 15vh;
          }
        }
      }

      p {
        text-align: center;
        max-inline-size: max-content;
        margin-inline: auto;
      }

      .hero-title {
        font-size: clamp(1.5rem, 8cqi, 6rem);
        margin-block: var(--size-8);
        font-weight: 700;
        line-height: 1;

        i {
          font-family: 'Familjen Grotesk Italic', sans-serif;
          font-weight: 200;
        }
      }

      .sub-title {
        font-size: var(--font-size-4);
        font-weight: 200;

        text-align: center;
        text-wrap: balance;
        inline-size: 70vi;
        max-inline-size: 50ch;

        @media (width >= 720px) {
          line-height: 1.85;
        }

        > .callout {
          display: inline-flex;
          gap: var(--size-2);
          place-items: baseline;
          font-weight: bold;
          line-height: 1cap;

          border: 2px solid var(--surface-4);
          border-radius: var(--radius-2);
          padding-block: var(--size-2);
          padding-inline: var(--size-2);
          margin-inline: var(--size-1);

          > svg {
            /* fix safari oversizing the element */
            block-size: 1ch;
          }
        }
      }

      .narrative {
        display: grid;
        container: narrative / inline-size;

        > p {
          @supports (animation-timeline: view()) {
            @media (prefers-reduced-motion: no-preference) {
              animation: narrative-enter linear both;
              animation-timeline: view();
              animation-range: 10% 20%;
            }
          }
        }

        > svg {
          @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: view()) {
              animation: journeyed linear both;
              animation-timeline: view(y);
              animation-range: 25% 75%;
            }
          }
          /* Center stan when no SDA or no motion */
          @media (prefers-reduced-motion: reduce) {
            margin: 0 auto;
          }
          @supports not (animation-timeline: view()) {
            margin: 0 auto;
          }
        }
      }
    }

    .confetti {
      position: relative;
      display: grid;
      place-items: center;
      container-type: size;

      > span {
        position: absolute;
        transform-origin: center;

        @media (prefers-reduced-motion: no-preference) {
          @supports (animation-timeline: view()) {
            animation:
              particle-scroll linear both,
              particle-enter 1s ease;
            animation-timeline: scroll(y root), auto;
            animation-range: 0vh var(--range);
          }
          @supports not (animation-timeline: view()) {
            animation: particle-enter 1s ease;
          }
        }

        &.round {
          --shadow-color: dimgray;
          --shadow-strength: 50%;
          --_size: clamp(0.3rem, 2.5cqi, 1rem);
          width: var(--_size);
          height: var(--_size);
          background: radial-gradient(
            circle at 50% 0 in oklch,
            var(--blue-2) 20%,
            var(--blue-6)
          );
          border-radius: 50%;
          box-shadow: var(--shadow-1);

          &:nth-of-type(5n + 1) {
            background: radial-gradient(
            circle at 50% 0 in oklch,
            var(--pink-2) 20%,
            var(--pink-6)
          );
          }

          &:nth-of-type(even) { 
            --_size: clamp(0.5rem, 3cqi, 1.2rem);
          }

          &:nth-of-type(3n + 1) { 
            --_size: clamp(0.8rem, 3cqi, 1.5rem);
          }

          &:nth-of-type(5n + 2) {
            background: radial-gradient(
            circle at 50% 0 in oklch,
            var(--purple-2) 20%,
            var(--purple-6)
          );
          }
        }

        &:nth-of-type(5n + 3) {
            background: radial-gradient(
            circle at 50% 0 in oklch,
            var(--yellow-2) 20%,
            var(--yellow-6)
          );
        }

        &:nth-of-type(5n + 4) {
            background: radial-gradient(
            circle at 50% 0 in oklch,
            var(--green-2) 20%,
            var(--green-6)
          );
        }

        &.curve {
          ...
        }

        &.star {
          ...
        }
      }
    }

    .bento-wrapper {
      padding-block: var(--size-5);

      @media (width >= 720px) {
        padding-block: var(--size-8);
      }
    }
  }
</style>
