---
import { Icon } from "astro-icon/components";
---

<div class="intro" id="introduction">
  <p class="sub-title">
    <b>Sculpt</b> dynamic interfaces, <code>stretch</code> your imagination, and <b>play</b> with these powerful new CSS features.
  </p>

  <div class="visual-prompt">
    <Icon name="down-arrow" title="Down arrow icon" size="5rem" aria-hidden="true" />
  </div>

  <p>Scroll down to explore these exciting additions to the platform.</p>
</div>

<style>
  @layer components.intro {
    .intro {
      margin: 0 auto;
      max-inline-size: 110ch;

      @media (width <= 1200px) {
        max-inline-size: 80ch;
      }

      p {
        font-size: var(--font-size-4);
        font-weight: 200;
        max-inline-size: none;
        margin-block: var(--size-7);
      }
    }

    .visual-prompt {
      display: flex;
      justify-content: center;
      padding-block: var(--size-7);

      > svg {
        color: var(--link);
      }

      @media (prefers-reduced-motion: no-preference) {
        animation: var(--animation-float);
      }
    }
  }
</style>
