---
import { Icon } from "astro-icon/components";
import ThemeSwitch from "./theme.switch.astro";
---

<nav>
  <a href="https://www.google.com/chrome/dr/download/" title="Download Chrome">
    <Icon name="chrome" size="1.5rem" title="Chrome Icon"/>
  </a>
  <div class="page-controls">
    <ThemeSwitch />
    <button
      class="hamburger"
      popovertarget="mobile-menu"
      title="Mobile Navigation Menu"
    >
      <Icon name="hamburger" size="1.75rem" />
    </button>
  </div>
</nav>

<style>
  @layer components.primary-header {
    nav {
      position: sticky;
      top: 0;
      z-index: 1;

      block-size: var(--size-8);
      display: flex;
      place-items: center;
      justify-content: space-between;
      padding-inline: var(--size-5);
      background: var(--surface-document);

      @media (width >= 540px) {
        block-size: var(--size-9);
      }

      > a {
        border-radius: var(--radius-round);
      }

      /* @supports (animation-timeline: view()) {
        @media (prefers-reduced-motion: no-preference) {
          animation: fade-out linear reverse both;
          animation-timeline: scroll();
          animation-range: 50vh 75vh;
        }
      } */

      > .page-controls {
        display: flex;
        place-items: center;
        gap: var(--size-3);
      }
    }

    .hamburger {
      background: none;
      color: var(--text-2);
      border-radius: var(--radius-round);
      aspect-ratio: var(--ratio-square);

      &:is(:hover, :focus-visible) {
        color: var(--text-1);
      }

      @media (width >= 1200px) {
        display: none;
      }
    }
  }
</style>
