---
const { biomes } = Astro.props;

const counts = {
  components: biomes[0].features.length,
  interactions: biomes[1].features.length,
  developerExperience: biomes[2].features.length,
};
---

<nav class="bento">
  <ul>
    <li class="arctic">
      <a href="#developer-experience"
        ><span><b>{counts.developerExperience} </b>DX Features</span></a
      >
    </li>
    <li class="desert">
      <a href="#components"
        ><span><b>{counts.components} </b>Components</span></a
      >
    </li>
    <li class="jungle">
      <a href="#interactions"
        ><span><b>{counts.interactions} </b>Interactions</span></a
      >
    </li>
  </ul>
</nav>

<style>
  @layer components.bento {
    nav.bento > ul {
      display: grid;
      --_size: 25vmin;
      grid: repeat(2, var(--_size)) / repeat(3, var(--_size));
      gap: var(--size-3);
      max-inline-size: max-content;
      margin-inline: auto;
      padding: 0;

      @media (width >= 780px) {
        --_size: 30vmin;
      }

      > li {
        container-type: inline-size;
        list-style-type: none;
        padding: 0;
        display: grid;
        border-radius: var(--radius-3);
        overflow: clip;
        grid-column: span 1;

        &:first-of-type {
          grid-row: span 2;
          grid-column: span 2;
          max-inline-size: 100%;
        }

        &.desert a::after {
          background-image: url(/biomes/desert.svg);
        }

        &.arctic a::after {
          background-image: url(/biomes/arctic.svg);
        }

        &.jungle a::after {
          background-image: url(/biomes/jungle.svg);
        }

        > a {
          display: grid;
          font-weight: 100;
          font-size: 13cqi;

          &:hover {
            text-decoration: none;
          }

          > span {
            grid-area: 1 / 1;
            place-self: end center;
          }

          &::after {
            content: "";
            grid-area: 1 / 1;
            border-radius: var(--radius-3);
            box-shadow: var(--shadow-2);
            background-size: cover;
            background-repeat: no-repeat;
          }

          @media (prefers-reduced-motion: no-preference) {
            &::after {
              transition: transform 0.75s var(--ease-bounce-2);
            }

            &:hover::after {
              transform: translateY(-1.5lh);
              transition-duration: 1s;
              transition-timing-function: var(--ease-spring-2);
            }
          }
        }
      }
    }
  }
</style>
