---
import * as ScrollbarStyling from "../features/interactions/scrollbar-styling.astro";
import * as ViewTransitionsMPA from "../features/interactions/view-transitions-mpa.astro";
import * as ScrollDrivenAnimations from "../features/interactions/scroll-driven-animations.astro";
import * as ScrollSnapEvents from "../features/interactions/scroll-snap-events.astro";
import * as ReadingFlow from "../features/interactions/reading-flow.astro";

const features = [
  ScrollbarStyling,
  ViewTransitionsMPA,
  ScrollDrivenAnimations,
  ScrollSnapEvents,
  ReadingFlow,
];

const components = features.map((Feature) => Feature.default);
---

<section id="interactions">
  <header>
    <h2>Interactions</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>

  <div class="features-list">
    {components.map((Feature) => <Feature />)}
  </div>
</section>

<style>
  section {
    display: grid;
    gap: var(--size-3);
    grid-column: main-features;

    > header {
      margin-block-end: var(--size-8);
      background: var(--surface-1);
      border-image: conic-gradient(var(--surface-document) 0 0) fill 0
        //0 100vw;;

      > h2 {
        font-family: "Jersey10", sans-serif;
        font-weight: normal;
        font-size: var(--font-size-8);
      }
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
