---
import SectionAside from "./section.aside.astro";
import BackdropInheritance from "../features/developerexperience/backdrop-inheritance.astro";
import LightDarkFunction from "../features/developerexperience/light-dark.astro";
import TextBoxTrim from "../features/developerexperience/text-box-trim.astro";
import AtProperty from "../features/developerexperience/at-property.astro";
import Popover from "../features/developerexperience/popover.astro";
import StartingStyle from "../features/developerexperience/starting-style.astro";
import RubyAlign from "../features/developerexperience/ruby-align.astro";
import LineClamp from "../features/developerexperience/line-clamp.astro";
import PaintOrder from "../features/developerexperience/paint-order.astro";
import Masonry from "../features/developerexperience/masonry.astro";
import ReadingFlow from "../features/developerexperience/reading-flow.astro";
import CSSOMNestedDeclarations from "../features/developerexperience/cssom-nested-declarations.astro";
---

<section>
  <header>
    <h2>Developer Experience</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <SectionAside />

  <div class="features-list">
    <BackdropInheritance />
    <LightDarkFunction />
    <TextBoxTrim />
    <AtProperty />
    <Popover />
    <StartingStyle />
    <RubyAlign />
    <LineClamp />
    <PaintOrder />
    <Masonry />
    <ReadingFlow />
    <CSSOMNestedDeclarations />
  </div>
</section>

<style>
  section {
    max-inline-size: 1024px;
    margin-inline: auto;
    display: grid;
    gap: var(--size-3);
    grid-template-columns: 1fr var(--size-content-1);

    @media (width < 900px) {
      grid-template-columns: 1fr 5ch;
    }

    > header {
      margin-block-end: var(--size-8);
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
