---
import SectionAside from './section.aside.astro';
import FieldSizing from "../features/components/field-sizing.astro";
import AnimateToHeightAuto from "../features/components/animate-to-height-auto.astro";
import ExclusiveDetails from "../features/components/exclusive-details.astro";
import StyleableDetails from "../features/components/styleable-details.astro";
import AnchorPositioning from "../features/components/anchor-positioning.astro";
import CustomizableSelect from "../features/components/customizable-select.astro";
---

<section>
  <header>
    <h2>Components</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <SectionAside />

  <div class="features-list">
    <FieldSizing />
    <AnimateToHeightAuto />
    <ExclusiveDetails />
    <StyleableDetails />
    <AnchorPositioning />
    <CustomizableSelect />
  </div>
</section>

<style>
  section {
    max-inline-size: 1024px;
    margin-inline: auto;
    display: grid;
    gap: var(--size-3);
    grid-template-columns: 1fr var(--size-content-1);
    
    @media (width < 900px) {
      grid-template-columns: 1fr 5ch;
    }
    
    > header {
      margin-block-end: var(--size-8);
    }
    
    > .features-list {
      grid-column: 1;
      
      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>