---
import SectionAside from "./section.aside.astro";

import * as BackdropInheritance from "../features/developerexperience/backdrop-inheritance.astro";
import * as HighlightInheritance from "../features/developerexperience/highlight-inheritance.astro";
import * as LightDarkFunction from "../features/developerexperience/light-dark.astro";
import * as TextBoxTrim from "../features/developerexperience/text-box-trim.astro";
import * as AtProperty from "../features/developerexperience/at-property.astro";
import * as Popover from "../features/developerexperience/popover.astro";
import * as StartingStyle from "../features/developerexperience/starting-style.astro";
import * as RubyAlign from "../features/developerexperience/ruby-align.astro";
import * as LineClamp from "../features/developerexperience/line-clamp.astro";
import * as PaintOrder from "../features/developerexperience/paint-order.astro";
import * as Masonry from "../features/developerexperience/masonry.astro";
import * as ReadingFlow from "../features/developerexperience/reading-flow.astro";
import * as CSSOMNestedDeclarations from "../features/developerexperience/cssom-nested-declarations.astro";

const features = [
  BackdropInheritance,
  HighlightInheritance,
  LightDarkFunction,
  TextBoxTrim,
  AtProperty,
  Popover,
  StartingStyle,
  RubyAlign,
  LineClamp,
  PaintOrder,
  Masonry,
  ReadingFlow,
  CSSOMNestedDeclarations,
];

const titles = features.map((Feature) => Feature.title);
const components = features.map((Feature) => Feature.default);
---

<section>
  <header>
    <h2>Developer Experience</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <SectionAside features={titles} />

  <div class="features-list">
    {components.map((Feature) => <Feature />)}
  </div>
</section>

<style>
  section {
    max-inline-size: 1024px;
    margin-inline: auto;
    display: grid;
    gap: var(--size-3);
    grid-template-columns: 1fr 30ch;

    @media (width < 900px) {
      grid-template-columns: 1fr 5ch;
    }

    > header {
      margin-block-end: var(--size-8);
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
