---
import SectionAside from "./section.aside.astro";

import * as FieldSizing from "../features/components/field-sizing.astro";
import * as AnimateToHeightAuto from "../features/components/animate-to-height-auto.astro";
import * as ExclusiveDetails from "../features/components/exclusive-details.astro";
import * as StyleableDetails from "../features/components/styleable-details.astro";
import * as AnchorPositioning from "../features/components/anchor-positioning.astro";
import * as CustomizableSelect from "../features/components/customizable-select.astro";

const features = [
  FieldSizing,
  AnimateToHeightAuto,
  ExclusiveDetails,
  StyleableDetails,
  AnchorPositioning,
  CustomizableSelect,
];

const titles = features.map((Feature) => Feature.title);
const components = features.map((Feature) => Feature.default);
---

<section>
  <header>
    <h2>Components</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <SectionAside features={titles} />

  <div class="features-list">
    {components.map((Feature) => <Feature />)}
  </div>
</section>

<style>
  section {
    max-inline-size: 1024px;
    margin-inline: auto;
    display: grid;
    gap: var(--size-3);
    grid-template-columns: 1fr 30ch;

    @media (width < 900px) {
      grid-template-columns: 1fr 5ch;
      padding-inline: var(--size-3);
    }

    > header {
      margin-block-end: var(--size-8);
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
