---
import SectionAside from "./section.aside.astro";

import * as ScrollbarStyling from "../features/interactions/scrollbar-styling.astro";
import * as ViewTransitionsMPA from "../features/interactions/view-transitions-mpa.astro";
import * as ScrollDrivenAnimations from "../features/interactions/scroll-driven-animations.astro";
import * as ScrollSnapEvents from "../features/interactions/scroll-snap-events.astro";

const features = [
  ScrollbarStyling,
  ViewTransitionsMPA,
  ScrollDrivenAnimations,
  ScrollSnapEvents,
];

const titles = features.map((Feature) => Feature.title);
const components = features.map((Feature) => Feature.default);
---

<section>
  <header>
    <h2>Interactions</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <SectionAside features={titles} />

  <div class="features-list">
    {components.map((Feature) => <Feature />)}
  </div>
</section>

<style>
  section {
    max-inline-size: 1024px;
    margin-inline: auto;
    display: grid;
    gap: var(--size-3);
    grid-template-columns: 1fr 30ch;

    @media (width < 900px) {
      grid-template-columns: 1fr 5ch;
    }

    > header {
      margin-block-end: var(--size-8);
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
