---
import * as FieldSizing from "../features/components/field-sizing.astro";
import * as AnimateToHeightAuto from "../features/components/animate-to-height-auto.astro";
import * as ExclusiveDetails from "../features/components/exclusive-details.astro";
import * as StyleableDetails from "../features/components/styleable-details.astro";
import * as AnchorPositioning from "../features/components/anchor-positioning.astro";
import * as CustomizableSelect from "../features/components/customizable-select.astro";

const features = [
  FieldSizing,
  AnimateToHeightAuto,
  ExclusiveDetails,
  StyleableDetails,
  AnchorPositioning,
  CustomizableSelect,
];

const components = features.map((Feature) => Feature.default);
---

<section id="components">
  <header>
    <h2>Components</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>

  <div class="features-list">
    {components.map((Feature) => <Feature />)}
  </div>
</section>

<style>
  section {
    display: grid;
    gap: var(--size-3);
    grid-column: main-features;

    > header {
      margin-block-end: var(--size-8);
      background: var(--surface-1);
      border-image: conic-gradient(var(--surface-document) 0 0) fill 0 //0 100vw;;

      > h2 {
        font-family: "Jersey10", sans-serif;
        font-weight: normal;
        font-size: var(--font-size-8);
      }
    }

    > .features-list {
      grid-column: 1;

      &:not(:first-of-type) {
        margin-block-start: var(--size-11);
      }
    }
  }

  .features-list {
    animation-timeline: --features-view;
    display: grid;
    gap: var(--size-10);
  }
</style>
